In [ ]:
#3.1. Using Python as a Calculator

In [ ]:
#3.1.1. Numbers¶

In [1]:
2 + 2

4

In [2]:
50 - 5*6

20

In [3]:
(50 - 5*6) / 4

5.0

In [4]:
8 / 5  # division always returns a floating point number

1.6

In [5]:
17 / 3  # classic division returns a float

5.666666666666667

In [6]:
17 // 3  # floor division discards the fractional part

5

In [7]:
17 % 3  # the % operator returns the remainder of the division

2

In [8]:
5 * 3 + 2  # result * divisor + remainder

17

In [9]:
5 ** 2  # 5 squared

25

In [10]:
2 ** 7  # 2 to the power of 7

128

In [11]:
width = 20
height = 5 * 9
width * height

900

In [12]:
n  # try to access an undefined variable

NameError: name 'n' is not defined

In [13]:
4 * 3.75 - 1

14.0

In [14]:
tax = 12.5 / 100
price = 100.50
price * tax

price + _

round(_, 2)

14.0

In [ ]:
#3.1.2. Strings¶

In [15]:
'spam eggs'  # single quotes

'spam eggs'

In [16]:
'doesn\'t'  # use \' to escape the single quote...

"doesn't"

In [17]:
"doesn't"  # ...or use double quotes instead

"doesn't"

In [18]:
'"Yes," they said.'

'"Yes," they said.'

In [19]:
"\"Yes,\" they said."

'"Yes," they said.'

In [20]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [21]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In [22]:
print('"Isn\'t," they said.')

"Isn't," they said.

In [23]:
s = 'First line.\nSecond line.'  # \n means newline
s  # without print(), \n is included in the output

'First line.\nSecond line.'

In [24]:
print(s)  # with print(), \n produces a new line

First line.
Second line.

In [25]:
print('C:\some\name')  # here \n means newline!

C:\some
ame

In [26]:
print(r'C:\some\name')  # note the r before the quote

C:\some\name

In [27]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [28]:
# 3 times 'un', followed by 'ium'
3 * 'un' + 'ium'

'unununium'

In [29]:
'Py' 'thon'

'Python'

In [30]:
text = ('Put several strings within parentheses '
        'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'

In [31]:
prefix = 'Py'
prefix 'thon'  # can't concatenate a variable and a string literal
  File "<stdin>", line 1
    prefix 'thon'

SyntaxError: invalid syntax (<ipython-input-31-35befcc8929a>, line 2)

In [33]:
prefix = 'Py'

prefix + 'thon'

'Python'

In [34]:
word = 'Python'
word[0]  # character in position 0

'P'

In [35]:
word[5]  # character in position 5

'n'

In [36]:
word[-1]  # last character

'n'

In [37]:
word[-2]  # second-last character

'o'

In [38]:
word[-6]

'P'

In [39]:
word[0:2]  # characters from position 0 (included) to 2 (excluded)

'Py'

In [40]:
word[2:5]  # characters from position 2 (included) to 5 (excluded)

'tho'

In [41]:
word[:2] + word[2:]

'Python'

In [42]:
word[:4] + word[4:]

'Python'

In [43]:
word[:2]   # character from the beginning to position 2 (excluded)

'Py'

In [44]:
word[4:]   # characters from position 4 (included) to the end

'on'

In [45]:
word[-2:]  # characters from the second-last (included) to the end

'on'

In [46]:
word[42]  # the word only has 6 characters

IndexError: string index out of range

In [47]:
word[4:42]

'on'

In [48]:
word[42:]

''

In [49]:
word[0] = 'J'

TypeError: 'str' object does not support item assignment

In [50]:
word[2:] = 'py'

TypeError: 'str' object does not support item assignment

In [51]:
'J' + word[1:]

'Jython'

In [52]:
word[:2] + 'py'

'Pypy'

In [53]:
s = 'supercalifragilisticexpialidocious'
len(s)

34

In [ ]:
#3.1.3. Lists¶

In [54]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [55]:
squares[0]  # indexing returns the item

1

In [56]:
squares[-1]

25

In [57]:
squares[-3:]  # slicing returns a new list

[9, 16, 25]

In [58]:
squares[:]

[1, 4, 9, 16, 25]

In [59]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [60]:
cubes = [1, 8, 27, 65, 125]  # something's wrong here
4 ** 3  # the cube of 4 is 64, not 65!

cubes[3] = 64  # replace the wrong value
cubes

[1, 8, 27, 64, 125]

In [61]:
cubes.append(216)  # add the cube of 6
cubes.append(7 ** 3)  # and the cube of 7
cubes

[1, 8, 27, 64, 125, 216, 343]

In [62]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [63]:
# replace some values
letters[2:5] = ['C', 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [64]:
# now remove them
letters[2:5] = []
letters

['a', 'b', 'f', 'g']

In [65]:
# clear the list by replacing all the elements with an empty list
letters[:] = []
letters

[]

In [66]:
letters = ['a', 'b', 'c', 'd']
len(letters)

4

In [67]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [68]:
x[0]

['a', 'b', 'c']

In [69]:
x[0][1]

'b'

In [ ]:
#3.2. First Steps Towards Programming¶

In [70]:
# Fibonacci series:
# the sum of two elements defines the next
a, b = 0, 1
while a < 10:
    print(a)
    a, b = b, a+b

0
1
1
2
3
5
8

In [71]:
i = 256*256
print('The value of i is', i)

The value of i is 65536

In [72]:
a, b = 0, 1
while a < 1000:
    print(a, end=',')
    a, b = b, a+b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,